<div class="form">
  <mat-form-field appearance="fill">
    <mat-label>Tipo de pagamento</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="form">
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="status">
      <mat-option *ngFor="let type of statusTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-raised-button (click)="onClick()">Enviar</button>
